name: Sphinx docs to gh-pages

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  release:
    types: ['released']

  workflow_dispatch:

env:
  SPHINXWORKING: True

jobs:
  sphinx_docs_to_gh-pages:
    runs-on: ubuntu-latest
    name: Sphinx docs to gh-pages
    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a

      - name: Setup conda env
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: conda_env_dev.yaml
          environment-name: docs
          channels: uibcdf, conda-forge, defaults
          extra-specs: |
            python=="3.10"

      - name: Info conda
        shell: bash -l {0}
        run: |
          micromamba info
          micromamba list

      - name: Running the Sphinx to gh-pages Action
        uses: uibcdf/action-sphinx-docs-to-gh-pages@v2.0.0
        with:
          branch: main
          dir_docs: '.'
          sphinx-apidoc: false

